{% extends "_layout.html" %}


{% block content %}
<h1 class="text-center">Welcome to {{current_user.username}}'s page</h1>


<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="text-center">

                <image style="height: 250px; width: 250px;" class="rounded-circle img-thumbnail"
                    src="{{current_user.full_image_path}}" alt="profile_image"></image>
            </div>

            <div class="text-center">

                <form action="{{url_for('users.upload_profile_image' , id=current_user.id)}}" method="POST"
                    enctype=multipart/form-data>
                    <input hidden name="csrf_token" value="{{csrf_token()}}">

                    <div class="form-group">
                        <label for="ProfilePicture">Change Profile Picture?</label>
                        <div class="d-flex justify-content-center">

                            <input type="file" class="form-control-file w-50" name="profile_image" id="profilepicture">
                            <button id="submitprofilepicture" disabled class="btn btn-success">Upload</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>


        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class=" border border-primary pt-4 pb-0 rounded container mt-5">



                <form action="{{url_for('users.update' , id=current_user.id)}}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">


                    <div class="form-group text-center">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="text" value={{current_user.username}} name="username" class="form-control w-50 ml-auto mr-auto" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">Getting bored? Change your username to something cooler!.</small>
                    </div>
                    <div class="form-group text-center">
                        <label for="exampleInputPassword1">Current Password</label>
                        
                        <input type="password" name="current_password" class="form-control w-50 ml-auto mr-auto" id="exampleInputPassword1">
                        <small id="emailHelp" class="form-text text-muted">Please enter your current_password.</small>
                    </div>
                    <div class="form-group text-center">
                        <label for="exampleInputPassword1">New Password</label>
                        <input type="password" name="new_password" class="form-control w-50 ml-auto mr-auto" id="exampleInputPassword1">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your new password with anyone
                            else.</small>
                    </div>

                    <div class="text-center">

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
                <br>
                <small>Tick/Untick to toggle your Profile's status</small>
                <div class="mt-1">
                    <form id="private_form" action="{{url_for('users.private', user_id=current_user.id)}}" method="POST">
                        <input hidden name="csrf_token" value="{{csrf_token()}}">
                        {% if current_user.is_private=="False" %}
                        <input type="checkbox" id="checkbox" name="public" value="public">
                        <label for="public">Private</label>
                        {% else %}
                        <input type="checkbox" id="checkbox" name="public" value="public" checked>
                        <label for="public">Private</label>
                    
                    
                    
                        {% endif %}
                    </form>
                </div>
                
            </div>

        </div>
    </div>
</div>




<br>
<hr>







<div style="border:2px solid black; padding: 10px;" class="container shadow-lg">

    <div class="d-flex justify-content-center   ">

        <form class="mt-3 ml-1" action="{{url_for('images.create')}}" method="POST" enctype=multipart/form-data>
            <input hidden name="csrf_token" value="{{csrf_token()}}">
            
            <div class="form-group">
                <label for="ProfilePicture">Add more images?</label>
                <div class="d-flex ">
                    
                    <input type="file" class="form-control-file w-100" name="images" id="images">
                    <button id="submitimages" disabled class=" btn btn-success">Upload</button>
                </div>
            </div>
        </form>
    </div>
        <div class="row">
        {% for image in current_user.images%}

        <div style="height: 300px;" class="col-lg-3 col-md-6 col-sm-12 p-3">
            <a href="{{url_for('images.show', image_id=image.id)}}">

                <img style="border: 2px solid black;" class="card shadow" width="100%" height="100%"
                    src="{{image.full_image_url}}" alt="user's image">
            </a>
        </div>
        {% endfor %}

    </div>

</div>


<!-- {% for image in all_images  %}

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{image.full_image_url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <a href="{{url_for('donations.new', image_id=image.id)}}" class="btn btn-primary">Donate</a>
  </div>
</div>


{% endfor %} -->









<script>
    const checkbox = document.querySelector("#checkbox")
    const form = document.querySelector("#private_form")
    checkbox.addEventListener("click", function (e) {
        form.submit()
    })

    const profilepicture = document.querySelector("#profilepicture")
    const submitprofilepicture = document.querySelector("#submitprofilepicture")
    const submitimages = document.querySelector("#submitimages")
    profilepicture.addEventListener('change', () => {
        submitprofilepicture.disabled = null

    })

    const images = document.querySelector("#images")
    images.addEventListener('change', () => {
        submitimages.disabled = null
    })

</script>



{% endblock %}