{% extends "_layout.html" %}



{% block content %}


<div class="btn-group dropright ml-5 mt-3">
    <button type="button" class="btn btn-primary">
      {{search_result|length}} user is found for "{{username}}"
    </button>
    <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropright</span>
    </button>
    <div style="width: 500px;" class="dropdown-menu">
      <ul class="mt-3 list-group ">
        {% for user in search_result %}
        <a style="text-decoration: none;" href="{{url_for('users.show' ,username=user.username)}}">
            <li class="btn btn-outline-info list-group-item d-flex justify-content-between align-items-center">
                <img style="border: 3px solid rgb(116, 37, 219)" class="rounded-circle " height="35px" width="35px" src="{{user.full_image_path}}">
                {{user.username}}
                <span class="badge badge-primary badge-pill">{{user.images|length}}</span>
            </li>
        </a>
        {% endfor %}

        
        
    </ul>
    </div>
  </div>
    
    {% endblock %}