{% extends "_layout.html" %}

{% block content %}

<h1 class="text-center">Welcome to {{user.username}}'s page</h1>
<div class="text-center">

  <image style="height: 250px; width: 250px;" class="rounded-circle img-thumbnail" src="{{user.full_image_path}}"
    alt="profile_image"></image>
</div>


<div class="mt-3 text-center">

  {% if user.id!=current_user.id and user not in current_user.my_idols and user not in current_user.pending_idols  %}
  <form action="{{url_for('users.follow' , id=user.id)}}" method="POST">

    <input hidden name="csrf_token" value="{{csrf_token()}}">


    <button class="btn btn-primary">Follow me </button>

  </form>


  {% endif %}


  <form action="{{url_for('users.unfollow' , idol_id=user.id)}}" method="POST">
    <input hidden name="csrf_token" value="{{csrf_token()}}">


    {% if user in current_user.pending_idols %}

    <button style="width: 200px;" id="following" class="btn btn-warning">Pending Approval</button>

    {% endif %}



    {% if user in current_user.my_idols %}

    <button id="following" class="btn btn-success">Following</button>

    {% endif %}

  </form>

</div>


{% if user==current_user or user.is_private=="False" or user in current_user.my_idols %}




{% if all_images|length==0 %}
<div style="border:2px solid black; padding: 10px;" class="rounded w-50 text-center container mt-5 shadow-lg bg-secondary">
  <h3>This user haven't upload any images yet</h3>
</div>

{% else %}


<div style="border:2px solid black; padding: 10px;" class="container mt-3 shadow-lg">
  <div class="row">


    {% for image in all_images%}
    

    <div style="height: 300px;" class="col-lg-3 col-md-6 col-sm-12 p-3">
      <a href="{{url_for('images.show', image_id=image.id)}}">

        <img style="border: 2px solid black;" class="card shadow"width="100%" height="100%" src="{{image.full_image_url}}" alt="user's image">
      </a>
    </div>
    {% endfor %}

  </div>

</div>
{% endif %}



{% else %}

<div style="border:2px solid black; padding: 10px;" class="rounded w-50 text-center container mt-5 shadow-lg bg-secondary">
  <h3>This is a private profile. Follow to view images.</h3>
</div>

{% endif %}






<!-- {% for image in all_images  %}

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{image.full_image_url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <a href="{{url_for('donations.new', image_id=image.id)}}" class="btn btn-primary">Donate</a>
  </div>
</div>


{% endfor %} -->



<script>
  following = document.querySelector('#following')
  text = following.innerHTML
  console.log(text)
  classname = following.className



  following.addEventListener("mouseover", function (e) {
    e.target.innerHTML = "Unfollow"
    e.target.className = "btn btn-danger"



  })

  following.addEventListener("mouseleave", function (e) {
    if (text === "Pending Approval") {
      e.target.innerHTML = "Pending Approval"
      e.target.className = classname

    } else {
      e.target.innerHTML = "Following"
      e.target.className = classname

    }
  })
</script>

{% endblock %}